@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.welcome {
  text-align: center;
  margin: 25px;
  font-family: 'Roboto', sans-serif;
};

.instructions {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}
